.form-horizontal .control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

.nav label {
	padding-top: 15px;
	padding-right: 15px;
	color: #C7C5b1;
}

.eventTable {
	width: 100%;
}

.eventTable th {
	width: 25%;
	padding-top: 15px; 
}

.eventTable td {
	width: 75%;
	padding-top: 15px;
}
